<p translate>content_wizard_select_pool</p>

<table class="table" style="min-width: inherit;">
    <tr>
        <th>&nbsp;</th>
        <th translate>label_pool_name</th>
        <th translate>label_pool_description</th>
        <th translate>memory_capacity</th>
        <th translate>core_capacity</th>
    </tr>
    <tr ng-repeat="pool in pools.data | orderBy:'ID'">
        <td><input type="radio" ng-model="install.selected.pool" name="selected_pool" id="selected_pool_{{$index}}" ng-value="pool.ID"></td>
        <td>{{pool.ID}}</td>
        <td>{{pool.Description}}</td>
        <td>{{pool.MemoryCapacity | toGB}}</td>
        <td>{{pool.CoreCapacity}}</td>
    </tr>
</table>
