<div class="modal fade" id="addApp" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="DeployWizard" data-backdrop="static">
  <div class="modal-dialog wizard">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" translate>title_deployment_wizard</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 flow">
            <ol>
              <li ng-repeat="step in steps" ng-class="step_item($index)">
                <label ng-class="step_label($index)">{{'label_step'|translate}} {{$index + 1}}</label>
                {{step.label|translate}}
              </li>
            </ol>
          </div>
          <div class="col-md-8 content">
            <div ng-show="dockerIsNotLoggedIn()" class="error" translate>docker_login_warning</div>
            <div ng-include="step_page" class="scroll">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="navigation">
          <button type="button" class="btn btn-link" ng-click="wizard_previous()" ng-show="hasPrevious()" translate>btn_back</button>
          <button type="button" class="btn btn-primary" ng-click="wizard_next()" ng-show="hasNext()" translate>btn_next</button>
            <button id="deploy-save-button" type="button" class="btn btn-default" ng-click="wizard_finish()" ng-show="hasFinish()" translate>btn_deploy</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

