<p translate>content_wizard_select_pool</p>

<table class="table" style="min-width: inherit;">
    <tr>
        <th>&nbsp;</th>
        <th translate>label_pool_name</th>
        <th translate>label_pool_description</th>
        <th translate>memory_capacity</th>
        <th translate>core_capacity</th>
    </tr>
    <tr ng-repeat="pool in pools | orderBy:'ID'" ng-click="selectPool(pool)" class="clickable">
        <td><input type="radio" ng-model="install.poolID" name="selected_pool" id="selected_pool_{{$index}}" ng-value="pool.id"></td>
        <td>{{pool.model.ID}}</td>
        <td>{{pool.model.Description}}</td>
        <td>{{pool.model.MemoryCapacity | toGB}}</td>
        <td>{{pool.model.CoreCapacity}}</td>
    </tr>
</table>
