<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/ico/zenoss-o.png" type="image/png">

    <title>Login to Control Plane</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/bootstrap/assets/js/html5shiv.js"></script>
      <script src="/static/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/angular/angular.js"></script>
    <script src="/static/js/controllers.js"></script>
  </head>

  <body ng-controller="LoginControl">
    <div class="container">

      <form id="login" class="form-signin {{extra_class}}" ng-submit="login()">
        <h3>{{brand_label}}</h3>
        <input type="text" ng-model="username" class="form-control" placeholder="Username" autofocus>
        <input type="password" ng-model="password" class="form-control" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{login_button_text}}</button>
        <div id="login_alert" class="alert {{login_status}}">{{login_message}}</div>
      </form>

    </div> <!-- /container -->
  </body>
</html>
