# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp
*~
\#*
.repo_tag_exists*
.build_repo_exists*
serviced
serviced-controller/serviced-controller
nsinit

# Folders
_obj
_test
pkg/build/
pkg/pkgroot/
pkg/serviced*.rpm
pkg/serviced*.deb
pkg/*.tgz
isvcs/images/
isvcs/.isvcs_export_container_id
pkg/templates/
coordinator/storage/zookeeper-3.3.3
coordinator/client/zookeeper/zookeeper-3.3.3
output/
tools/serviced-storage/serviced-storage

# emacs tags file
TAGS
tags

# IntelliJ workspace files
.idea

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
isvcs/resources/logstash/logstash.conf
isvcs/build/*.tar.gz
*.exe

# re-add some potentially excluded items
!angular*/
!bootstrap*/
!d3*/

*.iml
*.test

web/ui/node_modules
web/ui/build
web/ui/test/results
web/static

*.Godeps_restored

*.pyc
migration/tests/out.json

build/package.json
build/npm-shrinkwrap.json
acceptance/dockerImage/build/reporter.jar

acceptance/dockerImage/reporter/dependency-reduced-pom.xml
acceptance/dockerImage/reporter/target
acceptance/ui/output
acceptance/mockAgent/mockAgent

