<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

<h3 class="pull-left" translate>backuprestore</h3>

<div class="control-buttons pull-right">
  <span class="add-control">
    <button class="btn-link createBackup" ng-click="createBackup()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span translate>backup_create</span>
    </button>
  </span>
</div>

<table jelly-table data-data="backupFiles" data-config="backupTable" class="table">
    <tr ng-repeat="fileInfo in $data">
        <td data-title="'file_name'|translate" sortable="'full_path'">{{fileInfo.full_path}}</td>
        <td data-title="'modified'|translate" sortable="'mod_time'">{{fileInfo.mod_time | date: 'medium'}}</td>
        <td data-title="'actions'|translate">
            <button ng-hide="fileInfo.in_progress" class="btn btn-link action" ng-click="restoreBackup(fileInfo.full_path)">
                <span class="glyphicon glyphicon-refresh"></span>
                <span translate>backup_restore</span>
            </button>
            <span ng-show="fileInfo.in_progress" class="ntsh">In Progress...</span>
        </td>
    </tr>
</table>

<script type="text/ng-template" id="backupInfoNotification.html">
    <div class="bg-info notification backupInfo" style="display:none;">
        <span class="dialogIcon glyphicon glyphicon-info-sign"></span>
        <span class="backupRunning"></span>
        <span class="backupStatus"></span>
        <button type="button" class="close" aria-hidden="true" style="display:none;">&times;</button>
    </div>
</script>
