<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

<div class="serviceDetails">
    <div class="serviceControls" sticky sticky-class="stickied">

        <h2 class="serviceTitle">
            <div ng-if="currentHost.active" class="passed" style="position: absolute; top: 6px; left: 4px; height: 22px;"><i class="healthIcon glyphicon"></i></div>
            <div ng-if="!currentHost.active" class="failed" style="position: absolute; top: 6px; left: 4px; height: 22px;"><i class="healthIcon glyphicon"></i></div>
            <span style="position: relative; top: 0; left: 35px;"> {{currentHost.name}}</span>
        </h2>

        <div class="serviceActions" ng-hide="services.current.isIsvc()">
            <button ng-click="editCurrentHost()" class="btn btn-link action"><i class="glyphicon glyphicon-edit"></i> <span translate>title_edit_host</span></button>
        </div>
        <div class="serviceBoxGradient"></div>
    </div>

    <div class="serviceDescription" style="display: flex;">
        <div class="vertical-info">
          <label for="host_data_id" translate>label_host_id</label>
          <div id="host_data_id">{{currentHost.id}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_pool" translate>label_host_pool</label>
          <div id="host_data_pool">{{currentHost.model.PoolID}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_cpu" translate>label_host_cores</label>
          <div id="host_data_cpu">{{currentHost.model.Cores}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_memory" translate>label_host_memory</label>
          <div id="host_data_memory">{{currentHost.model.Memory | toGB}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_ram_commitment" translate>label_host_ram_commitment</label>
          <div id="host_ram_commitment">
              <span ng-class="{'bad': !currentHost.resourcesGood()}" class="overcomText">{{currentHost.RAMLimit}}</span>
              <span ng-show="currentHost.RAMIsPercent()">({{currentHost.RAMLimitBytes|toGB}})</span>
          </div>
        </div>

        <div class="vertical-info">
          <label for="host_data_kernel_version" translate>label_host_kernel_version</label>
          <div id="host_data_kernel_version">{{currentHost.model.KernelVersion}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_kernel_revision" translate>label_host_kernel_release</label>
          <div id="host_data_kernel_revision">{{currentHost.model.KernelRelease}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_serviced_release" translate>label_host_serviced_release</label>
          <div id="host_data_serviced_release">{{currentHost.model.ServiceD.Release}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_ip_addr" translate>label_host_ip_addr</label>
          <div id="host_data_ip_addr">{{currentHost.model.IPAddr}}</div>
        </div>

    </div>
</div><br>


<!-- Graphs -->
<graph-panel ng-if="currentHost.model.MonitoringProfile.GraphConfigs" data-service-id="currentHost.id" data-graph-configs="currentHost.model.MonitoringProfile.GraphConfigs" class="infoWrapper graphPanel"></graph-panel>

<!-- IPs -->
<h3 translate>ip_addresses</h3>
<table jelly-table data-data="currentHost.model.IPs" data-config="ipsTable" class="table side-flush">
    <tr ng-repeat="address in $data">
      <td data-title="'ip_addresses_interface'|translate" sortable="'InterfaceName'">{{address.InterfaceName}}</td>
      <td data-title="'ip_addresses_ip'|translate" sortable="'IPAddress'">{{address.IPAddress}}</td>
      <td data-title="'ip_addresses_mac'|translate" sortable="'MACAddress'">{{address.MACAddress}}</td>
    </tr>
</table>

<!-- Running Service Instances -->
<h3 translate>service_instances</h3>
<table jelly-table data-data="currentHost.instances" data-config="instancesTable" class="table side-flush">
    <tr ng-repeat="app in $data">
      <td data-title="'label_service'|translate" sortable="'name'" ng-click="click_app(app)" class="link">{{app.name}}</td>
      <td data-title="'RAM Commitment'" sortable="'resources.RAMCommitment'" style="text-align:left;">
          <span ng-show="app.resources.RAMCommitment===0">N/A</span>
          <span ng-show="app.resources.RAMCommitment!==0" ng-class="{'bad': !app.resourcesGood()}" class="overcomText">{{app.resources.RAMCommitment|toMB}}</span>
      </td>
      <td data-title="'RAM Cur/Max/Avg'" sortable="'resources.RAMLast'" style="text-align:left;">
          <span ng-show="app.resources.RAMCommitment===0">N/A</span>
          <span ng-show="app.resources.RAMCommitment!==0" ng-class="{'bad': !app.resourcesGood()}" class="overcomText">{{app.resources.RAMLast|toMB:true}} / {{app.resources.RAMMax|toMB:true}} / {{app.resources.RAMAverage|toMB:true}} MB</span>
      </td>
      <td data-title="'running_tbl_start'|translate" sortable="'model.StartedAt'">
          <span ng-if="app.model.StartedAt!=='0001-01-01T00:00:00Z'" am-time-ago="app.model.StartedAt" title="{{app.model.StartedAt}}"></span>
          <span ng-if="app.model.StartedAt==='0001-01-01T00:00:00Z'" translate>starting</span>
      </td>
      <td data-title="'running_tbl_actions'|translate">
          <button ng-click="viewLog(app)" class="btn btn-link action">
              <i class="glyphicon glyphicon-list-alt"></i>
              <span translate>action_view_log</span>
          </button>
          <button ng-click="app.stop()" class="btn btn-link action">
              <i class="glyphicon glyphicon-refresh"></i>
              <span translate>action_restart</span>
          </button>
      </td>
    </tr>
</table>
