<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>
<h3 class="pull-left" translate>hosts</h3>

<div class="control-buttons pull-right">
  <span class="add-control">
      <a href="/#/hostsmap" class="btn-link">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span translate>nav_hosts_map</span>
      </a>
  </span>

  <span class="add-control">
    <button class="btn-link" ng-click="modalAddHost()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span translate>host</span>
  </button>
  </span>
</div>

<!-- Hosts -->
<table jelly-table data-data="hosts" data-config="hostsTable" class="table side-flush">
    <tr ng-repeat="host in $data">
      <td data-title="'label_host_id'|translate" sortable="'name'" ng-click="clickHost(host.id)" style="white-space: nowrap;" class="link">
          {{host.name}}
          <div class="overcomIndicator" ng-class="{'bad': !host.resourcesGood()}" title="This host's resources are oversubscribed."></div>
      </td>
      <td data-title="'label_active'|translate" sortable="'active'" style="text-align:center;">
        <div ng-if="host.active" class="passed" style="position: relative; height: 22px;"><i class="healthIcon glyphicon"></i></div>
        <div ng-if="!host.active" class="failed" style="position: relative; height: 22px;"><i class="healthIcon glyphicon"></i></div>
      </td>
      <td data-title="'label_pool_name'|translate" sortable="'model.PoolID'" ng-click="clickPool(host.model.PoolID)" class="link">{{host.model.PoolID|cut:true:50}}</td>
      <td data-title="'label_host_memory'|translate" sortable="'model.Memory'">{{host.model.Memory | toGB}}</td>
      <td data-title="'label_host_ram_commitment'|translate" sortable="'RAMLimitBytes'">
          <span ng-class="{'bad': !host.resourcesGood()}" class="overcomText">{{host.RAMLimit}}</span>
          <span ng-show="host.RAMIsPercent()">({{host.RAMLimitBytes|toGB}})</span>
      </td>
      <td data-title="'RAM Cur/Max/Avg GB'" sortable="'RAMLast'" style="text-align:left;">
          <span ng-class="{'bad': !host.resourcesGood()}" class="overcomText">{{host.RAMLast|toGB:true}} / {{host.RAMMax|toGB:true}} / {{host.RAMAverage|toGB:true}}</span>
      </td>
      <td data-title="'label_host_cores'|translate" sortable="'model.Cores'">{{host.model.Cores}}</td>
      <td data-title="'label_host_kernel_version'|translate" sortable="'model.KernelVersion'">{{host.model.KernelVersion}}</td>
      <td data-title="'label_host_serviced_release'|translate" sortable="'model.ServiceD.Release'">{{host.model.ServiceD.Release}}</td>
      <td data-title="'actions'|translate"><button ng-click="remove_host(host.id)" class="btn btn-link action"><i class="glyphicon glyphicon-remove-sign"></i> <span translate>delete</span></button></td>
    </tr>
</table>
