<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>
<h3 class="pull-left" translate>hosts</h3>

<div class="control-buttons pull-right">
  <span class="add-control">
      <a href="/#/hostsmap" class="btn-link">
          <span class="glyphicon glyphicon-eye-open"></span>
          <span translate>nav_hosts_map</span>
      </a>
  </span>

  <span class="add-control">
    <button class="btn-link" ng-click="modalAddHost()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        <span translate>host</span>
  </button>
  </span>
</div>

<!-- Hosts -->
<table class="table side-flush" id="hosts_data">
  <thead>
    <tr>
      <th translate>label_host_id</th>
      <th translate>label_active</th>
      <th translate>label_pool_name</th>
      <th translate>label_host_memory</th>
      <th translate>label_host_cores</th>
      <th translate>label_host_kernel_version</th>
      <th translate>actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="hosts.filtered !== undefined">
      <td colspan="100%" align="center"><img src="/static/img/loading.gif"></td>
    </tr>
    <tr ng-hide="hosts.filtered.length !== 0">
        <td colspan="100%" align="center" class="noData" translate>no_data</td>
    </tr>
    <tr ng-repeat="host in hosts.filtered">
      <td ng-click="clickHost(host.id)" class="link">{{host.name}}</td>
      <td style="text-align:center;">
        <div ng-if="host.active === 'yes'" class="good" style="position: relative;"><i class="healthIcon glyphicon"></i></div>
        <div ng-if="!host.active" class="down" style="position: relative;"><i class="healthIcon glyphicon"></i></div>
      </td>
      <td ng-click="clickPool(host.host.PoolID)" class="link">{{host.fullPath|cut:true:50}}</td>
      <td>{{host.host.Memory | toGB}}</td>
      <td>{{host.host.Cores}}</td>
      <td>{{host.host.KernelVersion}}</td>
      <td><button ng-click="remove_host(host.id)" class="btn btn-link action"><i class="glyphicon glyphicon-remove-sign"></i> Delete</button></td>
    </tr>
  </tbody>
</table>
