<div class="form-group">
  <label for="new_service_name">{{'label_service_name'|translate}}:</label>
  <input class="form-control" focusme id="new_service_name" type="text" placeholder="{{'placeholder_service_name'|translate}}" ng-model="newService.Name" />
</div>

<div class="form-group">
  <label for="new_service_parent_service">{{'label_service_parent'|translate}}:</label>
  <input class="form-control" id="new_service_parent_service" type="text" placeholder="{{'placeholder_service_parent'|translate}}" ng-model="newService.ParentServiceID" />
</div>

<div class="form-group">
  <label for="new_service_image">{{'label_service_image'|translate}}:</label>
  <input class="form-control" id="new_service_image" type="text" placeholder="{{'placeholder_service_image'|translate}}" ng-model="newService.ImageID" />
</div>

<div class="form-group">
  <label for="new_service_description">{{'label_service_description'|translate}}:</label>
  <textarea class="form-control" id="new_service_description" placeholder="{{'placeholder_service_description'|translate}}" rows="3" ng-model="newService.Description"></textarea>
</div>

<div class="form-group">
  <label for="new_service_pool">{{'label_service_pool'|translate}}:</label>
  <input class="form-control" id="new_service_pool" type="text" placeholder="{{'placeholder_service_pool'|translate}}" ng-model="newService.PoolID" />
</div>

<div class="form-group">
  <label for="new_service_startup">{{'label_service_startup'|translate}}:</label>
  <input class="form-control" id="new_service_startup" type="text" placeholder="{{'placeholder_service_startup'|translate}}" ng-model="newService.Startup" />
</div>
