    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>
    <div class="details">
      <div class="details-form">
        <div class="vertical-info">
          <label for="celery_log_page">Page {{page}} of {{pageCount}}</label>
          <button class="btn btn-default" ng-disabled="leftDisabled" ng-click="pageLeft()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button> 
          <button class="btn btn-default" ng-disabled="rightDisabled" ng-click="pageRight()">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>
      <table class="table side-flush">
        <thead>
          <tr>
            <th ng-repeat="header in logs.headers">{{header.name|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="log in logs.data">
            <td ng-click='click_jobid(log.jobid)' class='link'>{{log.jobid_short}}</td>
            <td>{{log.command}}</td>
            <td><abbr class='timeago' title='{{log.starttime}}'></td>
            <td><abbr class='timeago' title='{{log.endtime}}'></td>
            <td>{{log.exitcode}}</td>
          </tr>
        </tbody>
      </table>

    <div class="modal fade" id="jobs-log-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="big modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
            <span class="modal-title">{{loglinestitle}}</span>
          </div>
          <div class="modal-body">
            <textarea>{{loglines}}</textarea>
          </div>
        </div>
      </div>
    </div>
