    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

    <h3>Developer Mode</h3>
    <div class="toggle btn-group" data-toggle="buttons">
      <label ng-class="devmode.enabledClass" ng-click="setDevMode(true)">
        <input type="radio" name="devmode"
               ng-model="devmode.enabled" value="true">
        {{devmode.enabledText}}
      </label>
      
      <label ng-class="devmode.disabledClass" ng-click="setDevMode(false)">
        <input type="radio" name="devmode"
               ng-model="devmode.enabled" value="false">
        {{devmode.disabledText}}
      </label>
    </div>
