body {
    padding: 20px;
}

.btn-primary {
    background-color: #6b6b6b;
    border-color: #555;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #8b8b8b;
    border-color: #555;
}

.highlighted {
    background-color: #ddd;
    font-weight: bold
}

.link {
    cursor:pointer;
}

.box {
    padding: 40px 50px;
    background-color: #eeeeee;
    border-radius: 6px;
}

.page-nav {
    padding-top: 40px;
}

table .glyphicon {
    cursor: pointer;
}

i.active {
    color: #b0b0b0;
}

