<!-- Static navbar -->
<div class="navbar navbar-zen" ng-controller="NavbarController">
  <div class="navbar-header navbar-brand">
    <img class="logoType" src="static/img/cc_logotype.png">
    <div class="logoCircle">
        <img src="static/img/theMcKraken.png" style="padding: 5px;">
    </div>
  </div>
  <div class="navbar-collapse collapse main-nav">
    <ul class="nav navbar-nav">
      <li ng-repeat="navlink in navlinks" ng-class="navlink.itemClass"><a href="{{navlink.url}}" translate>{{navlink.label}}</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <button class="btn-link" ng-click="modalUserDetails()">
              <i class="glyphicon glyphicon-user"></i>
              {{cookies.ZUsername}}&nbsp;&nbsp;
              <i class="glyphicon glyphicon-envelope"></i>
              <span ng-bind="messages.unreadCount"></span>
          </button>
      </li>
      <li>
          <a href="/static/doc/" target="_blank" title="Help"><i class="glyphicon glyphicon-question-sign"></i></a>
      </li>
      <li>
        <button class="btn-link" ng-click="logout()" translate>nav_logout</button>
      </li>
      <li>
        <div class="vr">|</div>
      </li>
      <li>
          <button class="btn-link" ng-click="modalAbout()" translate>title_about</button>
      </li>
      <!--
      <li>
        <a class="glyphicon glyphicon-question-sign" href="{{help.url()}}" target="_blank">&nbsp;</a>
      </li>
      -->
    </ul>
  </div><!--/.nav-collapse -->

    <div class="details">
      <ol class="breadcrumb inline">
          <li ng-repeat="crumb in breadcrumbs" ng-switch on="crumb.url" ng-class="crumb.itemClass">
              <span ng-switch-when="undefined" class="crumb current">{{crumb.label|translate|cut:true:25}}</span>
              <a ng-switch-default ng-click="subNavClick(crumb)" class="crumb" translate>{{crumb.label}}</a>
          </li>
      </ol>
    </div>

</div>

<div id="notifications" sticky></div>
