<div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="addHostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add host</h4>
      </div>
      <div class="modal-body">
        <label for="new_host_name">Host and port:</label>
        <input class="form-control" name="new_host_name" id="new_host_name" type="text" placeholder="e.g. localhost:4979" ng-model="newHost.IpAddr" />
        <label for="new_host_parent">Pool Id:</label>
        <input class="form-control" name="new_host_parent" id="new_host_parent" type="text" placeholder="default" ng-model="newHost.PoolId" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add_host()">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
