
    <div class="top-bar">
      <div class="search-control pull-right">
        <label ng-show="selectedPool" class="alert alert-info"><button type="button" class="close" ng-click="clearSelectedPool()">x</button>Filtering for '{{selectedPool}}' and sub pools</label>
        <label class="sr-only" for="all_hosts_search">Search</label>
        <input placeholder="Search" id="all_hosts_search" type="text" ng-model="hosts.search" class="form-control search" ng-change="filterHosts()"></input>
        <span class="add-control">
          <a class="btn-link" data-toggle="modal" href="#addHost">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Add a host
          </a>
        </span>
      </div>
      <label>Hosts List</label>
    </div>
    <table class="table table-striped table-bordered table-hover side-flush" id="hosts_data">
      <!--
      <thead>
        <tr>
          <th ng-repeat="header in hosts.headers">{{header.name}}
            <button ng-click="hosts.set_order(header.id, hosts)" 
                    ng-class="hosts.get_order_class(header.id, hosts)"></button>
          </th>
        </tr>
      </thead>
      -->
      <tbody>
        <!-- ng-click="click_host(host.PoolId, host.Id)" -->
        <tr ng-repeat="host in hosts.filtered" class="link">
          <td data-drag="true" ng-model="host" 
            data-jqyoui-options="{helper: 'clone', revert: 'invalid'}" 
            jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">{{host.Name}}</td>
          <td>{{host.fullPath}}</td>
        </tr>
      </tbody>
    </table>
    <!--
    <div class="text-center">
      <button class="pull-left sort btn-link glyphicon glyphicon-chevron-left" ng-click="previousPage()"></button>
      <button class="pull-right sort btn-link glyphicon glyphicon-chevron-right" ng-click="nextPage()"></button>
      page {{hosts.page+1}} / {{hosts.pages}}
    </div>
    -->
