<div class="modal fade" id="confirmMove" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">Confirm move:</span>
      </div>
      <div class="modal-body">
        <p>You have selected '{{move.host.Name}}' to move from '{{move.host.PoolId}}' to '{{move.newpool}}'. If this is correct, please press the Confirm button.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="confirmMove()">Confirm</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
