<div class="modal fade" id="editPool" tabindex="-1" role="dialog" aria-labelledby="editPoolModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">{{'title_edit_pool'|translate}}</span>
      </div>
      <div class="modal-body">
        <label for="edit_pool_name">{{'label_pool_name'|translate}}:</label>
        <input class="form-control" name="edit_pool_name" id="edit_pool_name" type="text" placeholder="{{'placeholder_pool_name'|translate}}" ng-model="editPool.Id" />
        <label for="edit_pool_parent">{{'label_pool_parent'|translate}}:</label>
        <input class="form-control" name="edit_pool_parent" id="edit_pool_parent" type="text" placeholder="{{'placeholder_pool_parent'|translate}}" ng-model="editPool.ParentId" />
        <!-- Disabled until enforced. See ZEN-11450
        <label for="edit_pool_core_limit">{{'label_pool_core_capacity'|translate}}:</label>
        <input class="form-control" name="edit_pool_core_limit" id="edit_pool_core_limit" type="number" min="0" placeholder="{{'placeholder_pool_core_limit'|translate}}" ng-model="editPool.CoreLimit" />
        <label for="edit_pool_memory_limit">{{'label_pool_memory_capacity'|translate}}:</label>
        <input class="form-control" name="edit_pool_memory_limit" id="edit_pool_memory_limit" type="number" min="0" placeholder="{{'placeholder_pool_memory_limit'|translate}}" ng-model="editPool.MemoryLimit" />
        -->
        <label for="edit_pool_priority">{{'label_pool_priority'|translate}}:</label>
        <input class="form-control" name="edit_pool_priority" id="edit_pool_priority" type="number" min="0" placeholder="{{'placeholder_pool_priority'|translate}}" ng-model="editPool.Priority" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'btn_cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit_pool()">{{'btn_save'|translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
