<div class="form-group">
  <label for="conf_file_owner">{{'label_owner'|translate}}</label>
  <input type="text" id="conf_file_owner" ng-model="editService.ConfigFiles[editService.config].Owner" class="form-control"></input>
</div>

<div class="form-group">
  <label for="conf_file_perm">{{'label_permissions'|translate}}</label></label>
  <input type="number" id="conf_file_perm" ng-model="editService.ConfigFiles[editService.config].Permissions" class="form-control"></input>
</div>

<textarea ng-model="editService.ConfigFiles[editService.config].Content"></textarea>