<div class="modal fade" id="editConfig" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="big modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">{{'title_edit_config'|translate}}</span>
      </div>
      <div class="modal-body">
        <textarea ng-model="editService.config"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'btn_cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save_config()">{{'btn_save'|translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
