<div class="modal fade" id="editHost" tabindex="-1" role="dialog" aria-labelledby="editHostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit host</h4>
      </div>
      <div class="modal-body">
        <label for="edit_host_name">Host:</label>
        <input class="form-control" name="edit_host_name" id="edit_host_name" type="text" placeholder="localhost" ng-model="editHost.IpAddr" />
        <label for="edit_host_parent">Pool ID:</label>
        <input class="form-control" name="edit_host_parent" id="edit_host_parent" type="text" placeholder="default" ng-model="editHost.PoolID" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="edit_host()">Update</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
