    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
    <ol class="breadcrumb inline">
      <li ng-repeat="crumb in breadcrumbs" ng-class="crumb.itemClass" ng-switch on="crumb.url">
        <span ng-switch-when="undefined">{{crumb.label}}</span>
        <a ng-switch-default ng-href="{{crumb.url}}">{{crumb.label}}</a>
      </li>
    </ol>
    <p>
      <a data-toggle="modal" href="#editHost" class="btn btn-primary">Edit host</a>
      <a data-toggle="modal" href="#removeHost" class="btn btn-default">Remove host</a>
    </p>
    <h4>Host Details</h4>
    <dl class="dl-horizontal" z-def to-define="hosts.current" define-headers="hosts.headers">
    </dl>
    <p>You may edit or remove the selected host.</p>
    <div ng-include="'/static/partials/resource-actions.html'" ng-controller="ActionControl"></div>

