      <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Service Dynamics</h2>
        <p>Welcome to the Control Plane.</p>
        <ul class="list-unstyled">
          <li ng-repeat="link in mainlinks">
            <a href="{{link.url}}">{{link.label}}</a>
          </li>
        </ul>
      </div>

            <ul ng-init="friends = [{name:'John'}, {name:'Mary', age:28}]">
              <li ng-repeat="friend in friends">
                [{{$index + 1}}] {{friend.name}}
              </li>
            </ul>
