<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li><a href="#/management/single">Single Instance</a></li>
        <li><a href="#/management/multiple">Multiple Instance</a></li>
      </ul>
    </div><!--/.well -->
  </div>
  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <h1>Generic management</h1>
      <h2>You clicked: {{params.typeId}}</h2>
      <div ng-switch="params.typeId">
        <div ng-switch-when="single" ng-include="'/static/partials/management-single.html'"></div>
        <div ng-switch-when="multiple" ng-include="'/static/partials/management-multiple.html'"></div
      </div>      
    </div>
  </div>
</div>
