<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-include="'/static/partials/resource-pool-nav.html'">
  </div>

  <div class="col-xs-12 col-sm-9">
    <div class="jumbotron">
      <p>
        <a data-toggle="modal" href="#addHost" class="btn btn-primary">Add host</a>
        <a data-toggle="modal" href="#addPool" class="btn btn-default">Add resource pool</a>
        <a data-toggle="modal" href="#editPool" class="btn btn-default">Edit resource pool</a>
        <a data-toggle="modal" href="#removePool" class="btn btn-default">Remove resource pool</a>
      </p>
      <div>
        <span>Selected:</span>
        <span>{{pools.current.Id}}</span>
      </div>
      <div>
        <span>Parent:</span>
        <span>{{pools.current.ParentId}}</span>
      </div>
      <div>
        <span>Core Limit:</span>
        <span>{{pools.current.CoreLimit}}</span>
      </div>
      <div>
        <span>Memory Limit:</span>
        <span>{{pools.current.MemoryLimit}}</span>
      </div>
      <div>
        <span>Priority:</span>
        <span>{{pools.current.Priority}}</span>
      </div>

      <!--
     "Id": "007f0100",
     "PoolId": "default",
     "Name": "chadzen",
     "IpAddr": "::1 127.0.0.1",
     "Cores": 24,
     "Memory": 33661190144,
     "PrivateNetwork": ""
      -->

      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Id
              <i ng-click="hosts.set_order('Id')" class="glyphicon {{hosts.sort_icons['Id']}}"></i>
            </th>
            <th>Name
              <i ng-click="hosts.set_order('Name')" class="glyphicon {{hosts.sort_icons['Name']}}"></i>
            </th>
            <th>Cores
              <i ng-click="hosts.set_order('Cores')" class="glyphicon {{hosts.sort_icons['Cores']}}"></i>
            </th>
            <th>Memory
              <i ng-click="hosts.set_order('Memory')" class="glyphicon {{hosts.sort_icons['Memory']}}"></i>
            </th>
            <th>IP Address
              <i ng-click="hosts.set_order('IpAddr')" class="glyphicon {{hosts.sort_icons['IpAddr']}}"></i>
            </th>
            <th>Private Network
              <i ng-click="hosts.set_order('PrivateNetwork')" class="glyphicon {{hosts.sort_icons['PrivateNetwork']}}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="host in hosts.data | orderBy:hosts.sort">
            <td>{{host.Id}}</td>
            <td>{{host.Name}}</td>
            <td>{{host.Cores}}</td>
            <td>{{host.Memory}}</td>
            <td>{{host.IpAddr}}</td>
            <td>{{host.PrivateNetwork}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
