          <a ng-class="pool.icon" ng-click="toggleCollapsed(pool)"></a>
          <a ng-click="clickPool(pool.Id)">{{pool.Id}}</a>
          <!--<a class="btn-link glyphicon glyphicon-plus-sign link" ng-click="addSubpool(pool.Id)"></a> -->
          <ul ng-class="pool.childrenClass">
            <li ng-repeat="pool in pool.children" 
                ng-include="'/static/partials/pools-tree.html'"
                pool-id="{{pool.Id}}"
                data-drop="true" 
                data-jqyoui-options="{greedy: true}"
                jqyoui-droppable="{onDrop: 'dropIt'}"
                ng-model="dropped"
               ></li>
          </ul>

