      <div class="top-info">HOSTS ({{hosts.filteredCount}})</div>
      <div class="top-head">
        <a ng-click="clearSelectedPool()">Resource Pools</a>
        <span class="dropdown">
          <!-- Link or button to toggle dropdown -->
          <button class="btn-link glyphicon glyphicon-plus-sign" data-toggle="dropdown"></button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" ng-click="addSubpool('')">add a resource pool</a>
            </li>
          </ul>
        </span>
      </div>

      <ul class="nav-tree root">
        <!--            ng-include="'/static/partials/pools-tree.html'"  -->
        <li ng-repeat="pool in pools.flattened" 
            data-pool-id="{{pool.Id}}"
            data-drop="true" 
            data-jqyoui-options="{greedy: true, hoverClass: 'active'}"
            jqyoui-droppable="{onDrop: 'dropIt'}" 
            ng-model="dropped"
            ng-class="itemClass(pool)">
            <span ng-class="indent(pool.depth)">&nbsp;</span>
            <a ng-class="pool.icon" ng-click="toggleCollapsed(pool)"></a>
            <a class="main" ng-click="clickPool(pool.Id)">{{pool.Id}}</a>

            <span class="dropdown extended pull-right" id="pool_menu_{{$index}}">
              <!-- Link or button to toggle dropdown -->
              <button class="btn-link glyphicon glyphicon-paperclip" data-toggle="dropdown"
                      ng-click="clickMenu($index)"></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="addSubpool(pool.Id)">add a sub pool to {{pool.Id}}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="delSubpool(pool.Id)">delete {{pool.Id}}</a></li>
              </ul>
            </span>
        </li>
      </ul>
