      <div class="top-info">{{'label_hosts'|translate}}</div>
      <div class="top-head">
        <a ng-click="clearSelectedPool()">{{'label_resource_pools'|translate}}</a>
        <span class="dropdown">
          <!-- Link or button to toggle dropdown -->
          <button class="btn-link glyphicon glyphicon-plus-sign" data-toggle="dropdown"></button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" ng-click="addSubpool('')">{{'menu_add_pool'|translate}}</a>
            </li>
          </ul>
        </span>
      </div>

      <ul class="nav-tree root">
        <li ng-repeat="pool in pools.flattened"
            data-pool-id="{{pool.ID}}"
            data-drop="true" 
            data-jqyoui-options="{greedy: true, hoverClass: 'active'}"
            jqyoui-droppable="{onDrop: 'dropIt'}" 
            ng-model="dropped"
            ng-class="itemClass(pool)">
            <span ng-class="indent(pool.zendepth)">&nbsp;</span>
            <a ng-class="pool.icon" ng-click="toggleCollapsed(pool)"></a>
            <a class="main" ng-click="clickPool(pool.ID)">{{pool.ID}}</a>
        </li>
      </ul>
