  <!-- Disregard side nav
<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-include="'/static/partials/resource-pool-nav.html'">
  </div>
  <div class="col-xs-12 col-sm-9">
  -->
    <ol class="breadcrumb">
      <li class="active">Resources</a>
    </ol>
    <p>
      <a data-toggle="modal" href="#addPool" class="btn btn-primary">Add resource pool</a>
    </p>
    <p>Select a resource pool or add a new one.</p>
    
    <label for="pools_data">Resource Pools</label>
    <table class="table table-striped table-bordered table-hover" id="pools_data" >
      <thead>
        <tr>
          <th ng-repeat="header in pools.headers">{{header.name}}<i ng-click="pools.set_order(header.id, pools)" ng-class="pools.get_order_class(header.id, pools)"></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pool in pools.data | orderBy:pools.sort" 
            ng-click="click_pool(pool.Id)" class="link">
          <td>{{pool.Id}}</td>
          <td>{{pool.ParentId}}</td>
          <td>{{pool.CoreLimit}}</td>
          <td>{{pool.MemoryLimit}}</td>
          <td>{{pool.Priority}}</td>
        </tr>
      </tbody>
    </table>
    <div ng-include="'/static/partials/resource-actions.html'" ng-controller="ActionControl"></div>
<!--</div> <!-- /row -->
