      <!-- Static navbar -->
      <div class="navbar navbar-inverse" ng-controller="NavbarControl">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{brand.url}}">{{brand.label}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="navlink in navlinks"><a href="{{navlink.url}}">{{navlink.label}}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><span class="item">{{username}}</span></li>
            <li><a href="#logout" ng-click="logout()">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
