  <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>   
    
    <table class="table table-striped table-bordered side-flush">
      <tr>
        <td>
          <h3>Logstash</h3>
          <div id="Logstash-CPU-Graph" class="medChart">{{viz("Logstash-CPU-Graph", getCPUGraph("logstash"))}}</div>
          <div id="Logstash-RSS-Graph" class="medChart">{{viz("Logstash-RSS-Graph", getRSSGraph("logstash"))}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Docker Registry</h3>
          <div id="Docker-Registry-CPU-Graph" class="medChart">{{viz("Docker-Registry-CPU-Graph", getCPUGraph("docker-registry"))}}</div>
          <div id="Docker-Registry-RSS-Graph" class="medChart">{{viz("Docker-Registry-RSS-Graph", getRSSGraph("docker-registry"))}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Open TSDB</h3>
          <div id="OpenTSDB-CPU-Graph" class="medChart">{{viz("OpenTSDB-CPU-Graph", getCPUGraph("opentsdb"))}}</div>
          <div id="OpenTSDB-RSS-Graph" class="medChart">{{viz("OpenTSDB-RSS-Graph", getRSSGraph("opentsdb"))}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Elastic Search</h3>
          <div id="Elastic-Search-CPU-Graph" class="medChart">{{viz("Elastic-Search-CPU-Graph", getCPUGraph("elasticsearch"))}}</div>
          <div id="Elastic-Search-RSS-Graph" class="medChart">{{viz("Elastic-Search-RSS-Graph", getRSSGraph("elasticsearch"))}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Zookeeper</h3>
          <div id="Zookeeper-CPU-Graph" class="medChart">{{viz("Zookeeper-CPU-Graph", getCPUGraph("zookeeper"))}}</div>
          <div id="Zookeeper-RSS-Graph" class="medChart">{{viz("Zookeeper-RSS-Graph", getRSSGraph("zookeeper"))}}</div>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Celery</h3>
          <div id="Celery-CPU-Graph" class="medChart">{{viz("Celery-CPU-Graph", getCPUGraph("celery"))}}</div>
          <div id="Celery-RSS-Graph" class="medChart">{{viz("Celery-RSS-Graph", getRSSGraph("celery"))}}</div>
        </td>
      </tr>
    </table>


