    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
    
    <div class="details">
      <ol class="breadcrumb inline">
        <li ng-repeat="crumb in breadcrumbs" ng-switch on="crumb.url" ng-class="crumb.itemClass">
          <span ng-switch-when="undefined">{{crumb.label|translate}}</span>
          <a ng-switch-default ng-href="{{crumb.url}}">{{crumb.label|translate}}</a>
        </li>
      </ol>

      <div class="details-form">
        <div class="vertical-info">
          <label for="host_data_id">{{'label_host_id'|translate}}</label>
          <div id="host_data_id">{{hosts.current.Id}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_pool">{{'label_host_pool'|translate}}</label>
          <div id="host_data_pool">{{hosts.current.PoolId}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_memory">{{'label_host_memory'|translate}}</label>
          <div id="host_data_memory">{{hosts.current.Memory}}</div>
        </div>

        <div class="vertical-info">
          <label for="host_data_cpu">{{'label_host_cores'|translate}}</label>
          <div id="host_data_cpu">{{hosts.current.Cores}}</div>
        </div>
      </div>
    </div>

    <table ng-if=collectingStats class="table table-striped table-bordered table-hover side-flush">
      <thead>
        <tr>
            <th ng-repeat="header in graph.headers">{{header.name|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
              <td>
                  <div id="cpuchart">{{viz('cpuchart', cpuconfig)}}</div>
                  <div id="ofdchart">{{viz('ofdchart', ofdconfig)}}</div>
              </td>
              <td>
                  <div id="memchart">{{viz('memchart', memconfig)}}</div>
                  <div id="rsschart">{{viz('rsschart', rssconfig)}}</div>      
              </td>
        </tr>        
      </tbody>
    </table>
	<h3>{{'running_services'|translate}}</h3>
    <table class="table table-striped table-bordered table-hover side-flush">
      <thead>
        <tr>
          <th ng-repeat="header in running.headers">{{header.name|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in running.data | orderBy:running.sort">
          <td ng-click="click_app(app)" class="link">{{app.Name}}</td>
          <td>{{app.StartedAt}}</td>
          <td>
            <button ng-click="viewLog(app)" class="btn btn-link">{{'action_view_log'|translate}}</button>
            |
            <button ng-click="killRunning(app)" class="btn btn-link">{{'action_kill'|translate}}</button>
            |
            <button ng-click="viewConfig(app)" class="btn btn-link disabled">{{'action_view_cfg'|translate}}</button> 
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-include="'/static/partials/edit-config.html'"></div>
    <div ng-include="'/static/partials/view-log.html'"></div>

