<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
<h3 class="pull-left">
  {{'hosts'|translate}}
</h3>

<div class="control-buttons pull-right">

  <span class="add-control">
      <a href="/#/hostsmap" class="btn-link">
          <span class="glyphicon glyphicon-eye-open"></span>
          {{'nav_hosts_map'|translate}}
      </a>
  </span>

  <span class="add-control">
    <button class="btn-link" ng-click="modalAddHost()">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{'host'|translate}}
    </button>
  </span>

</div>
<table class="table table-striped side-flush" id="hosts_data">
  <thead>
    <tr>
      <th>{{'label_host_id' | translate}}</th>
      <th>{{'label_active' | translate}}</th>
      <th>{{'label_pool_name'| translate}}</th>
      <th>{{'label_host_memory' | translate}}</th>
      <th>{{'label_host_cores' | translate}}</th>
      <th>{{'label_host_kernel_version' | translate}}</th>
      <th>{{'actions' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="hosts.filtered !== undefined">
      <td colspan="100%" align="center"><img src="/static/img/loading.gif"></td>
    </tr>
    <tr ng-hide="hosts.filtered.length !== 0">
        <td colspan="100%" align="center" class="noData">{{"no_data" | translate}}</td>
    </tr>
    <tr ng-repeat="host in hosts.filtered">
      <td ng-click="clickHost(host.ID)" class="link">{{host.Name}}</td>
      <td style="text-align:center;">
        <div ng-if="host.active === 'yes'" class="healthCheck good"><i class="healthIcon glyphicon"></i></div>
        <div ng-if="!host.active" class="healthCheck down"><i class="healthIcon glyphicon"></i></div>
      </td>
      <td ng-click="clickPool(host.PoolID)" class="link">{{host.fullPath|cut:true:50}}</td>
      <td>{{host.Memory | toGB}}</td>
      <td>{{host.Cores}}</td>
      <td>{{host.KernelVersion}}</td>
      <td><button ng-click="remove_host(host.ID)" class="btn btn-link action"><i class="glyphicon glyphicon-remove-sign"></i> Delete</button></td>
    </tr>
  </tbody>
</table>
