    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>

    <table class="table table-striped table-bordered table-hover" id="sub_services_data" >
      <thead>
        <tr>
          <th ng-repeat="header in services.headers">{{header.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in services.subservices" ng-click="click_app(app.Id)" class="link">
          <td><span ng-class="indent(app.depth)" class="indented">&nbsp;</span>{{app.Name}}</td>
          <td>
            <div class="btn-group" data-toggle="buttons">
              <label ng-class="app.runningClass" ng-click="clickRunning(app, 'start', servicesService)">
                <!--id="running{{$index}}_start"-->
                <input type="radio" name="running{{$index}}" 
                       ng-model="app.Running" value="1">
                {{app.runningText}}
              </label>
              
              <label ng-class="app.notRunningClass" ng-click="clickRunning(app, 'stop', servicesService)">
                <!--id="running{{$index}}_stop"-->
                <input type="radio" name="running{{$index}}" 
                       ng-model="app.Running" value="stopped">
                {{app.notRunningText}}
              </label>
            </div>
          </td>
          <td>
            <button ng-click="viewLog(app)" class="btn btn-link">Log</button>
            |
            <button ng-click="viewConfig(app)" class="btn btn-link">Config</button> 
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-include="'/static/partials/edit-config.html'"></div>
    <div ng-include="'/static/partials/view-log.html'"></div>
