<div class="modal fade" id="viewLog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="big modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close glyphicon glyphicon-remove-circle" data-dismiss="modal" aria-hidden="true"></button>
        <span class="modal-title">{{'title_log'|translate}}</span>
      </div>
      <div class="modal-body">
        <textarea ng-model="editService.log" readonly></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'btn_close'|translate}}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
