    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
    <div class="details">
      <ol class="breadcrumb inline">
        <li ng-repeat="crumb in breadcrumbs" ng-switch on="crumb.url" ng-class="crumb.itemClass">
          <span ng-switch-when="undefined">{{crumb.label}}</span>
          <a ng-switch-default ng-href="{{crumb.url}}">{{crumb.label}}</a>
        </li>
      </ol>
      <div class="details-form">
        <div class="vertical-info">
          <label for="app_data_name">ID</label>
          <div id="app_data_name">{{services.current.Name}}</div>
        </div>

        <div class="vertical-info">
          <label for="app_data_status">Status</label>

          <div id="app_data_status" class="toggle btn-group" data-toggle="buttons">
            <label ng-class="services.current.runningClass" ng-click="clickRunning(services.current, 'start', servicesService)">
              <input type="radio" name="running{{$index}}" 
                     ng-model="services.current.Running" value="1">
              {{services.current.runningText}}
            </label>
            
            <label ng-class="services.current.notRunningClass" ng-click="clickRunning(services.current, 'stop', servicesService)">
              <input type="radio" name="running{{$index}}" 
                     ng-model="services.current.Running" value="stopped">
              {{services.current.notRunningText}}
            </label>
          </div>

        </div>

      </div>
    </div>

    <table class="table table-striped table-bordered table-hover" id="sub_services_data" >
      <thead>
        <tr>
          <th ng-repeat="header in services.headers">{{header.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in services.subservices" ng-click="click_app(app.Id)" class="link">
          <td><span ng-class="indent(app.zendepth)">&nbsp;</span>{{app.Name}}</td>
          <td>
            <div class="toggle btn-group" data-toggle="buttons">
              <label ng-class="app.runningClass" ng-click="clickRunning(app, 'start', servicesService)">
                <!--id="running{{$index}}_start"-->
                <input type="radio" name="running{{$index}}" 
                       ng-model="app.Running" value="1">
                {{app.runningText}}
              </label>
              
              <label ng-class="app.notRunningClass" ng-click="clickRunning(app, 'stop', servicesService)">
                <!--id="running{{$index}}_stop"-->
                <input type="radio" name="running{{$index}}" 
                       ng-model="app.Running" value="stopped">
                {{app.notRunningText}}
              </label>
            </div>
          </td>
          <td>
            <button ng-click="viewLog(app)" class="btn btn-link">Log</button>
            |
            <button ng-click="viewConfig(app)" class="btn btn-link">Config</button> 
          </td>
        </tr>
      </tbody>
    </table>
    <div ng-include="'/static/partials/edit-config.html'"></div>
    <div ng-include="'/static/partials/view-log.html'"></div>
