    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>
    <div class="col-xs-6 col-sm-3 flow sidebar-nav" role="navigation" ng-include="'/static/partials/resource-pool-nav.html'"></div>

    <div class="col-xs-12 col-sm-9 side-flush">
      <div class="top-bar">
        <div class="search-control pull-right">
          <label ng-show="selectedPool" class="alert alert-info"><button type="button" class="close" ng-click="clearSelectedPool()">x</button>Filtering for '{{selectedPool}}' and sub pools</label>
          <label class="sr-only" for="all_hosts_search">Search</label>
          <input placeholder="Search" id="all_hosts_search" type="text" ng-model="hosts.search" class="form-control search" ng-change="filterHosts()"></input>
          <span class="add-control">
            <a class="btn-link" data-toggle="modal" href="#addHost">
              <span class="glyphicon glyphicon-plus-sign"></span>
              Add a host
            </a>
          </span>
        </div>
        <a href="#/hosts">Hosts List</a><label>Hosts Map</label>
      </div>
      <div id="hostmap" class="treemap"></div>
    </div>
    
