    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>

    <h3 class="pull-left">
        {{'applications'|translate}}
    </h3>
    <div class="control-buttons pull-right">
        <span class="add-control">
            <a href="/#/servicesmap" class="btn-link">
                <span class="glyphicon glyphicon-eye-open"></span>
                {{'nav_servicesmap'|translate}}
            </a>
        </span>
        <span class="add-control">
            <button class="btn-link" ng-click="modalAddApp()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                {{'application'|translate}}
            </button>
        </span>
    </div>
    <table class="table table-striped" id="apps_data" >
      <thead>
        <tr>
          <th ng-repeat="header in services.headers">{{header.name|translate}}
            <button ng-click="services.set_order(header.id, services)" 
                    ng-class="services.get_order_class(header.id, services)"></button>
          </th>
          <th>{{'running_tbl_actions'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in services.deploying | orderBy:services.sort" ng-model="services.deploying">
            <td>{{app.templateName}}</td>
            <td>{{"deploying" | translate}}</td>
            <td>{{app.DeploymentID}}</td>
            <td ng-click="click_pool(app.PoolID)" class="link">{{app.PoolID}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr ng-repeat="app in services.data | orderBy:services.sort" data-id="{{app.ID}}"  ng-model="services.data">
          <td ng-click="click_app(app.ID)" class="link">{{app.Name}}</td>
          <td style="text-align:center;">
            <span data-toggle="tooltip" data-placement="top" ng-attr-title="{{app.healthTooltipTitle}}" class="healthTooltip">
              <div>
                  <i class="healthIcon" ng-class="app.healthIconClass"></i>
              </div>
            </span>
          </td>
          <td>{{app.DeploymentID}}</td>
          <td ng-click="click_pool(app.PoolID)" class="link">{{app.PoolID}}</td>
          <td><p ng-repeat="vhost in collect_vhosts(app) track by $index"><a href="{{vhost_url(vhost)}}" target="_blank" class="link">{{vhost_url(vhost)}}</a></p></td>
		      <td>
            <div ng-if="app.ID.indexOf('isvc-') == -1">
              <button ng-class="{disabled: app.DesiredState === 1}" ng-click="clickRunning(app, 'start', servicesService)" class="btn btn-link action"><i class="glyphicon glyphicon-play"></i> Start</button>
              <button ng-class="{disabled: app.DesiredState === 0}" ng-click="clickRunning(app, 'stop', servicesService)" class="btn btn-link action"><i class="glyphicon glyphicon-stop"></i> Stop</button>
              <button ng-click="clickRemoveService(app)" class="btn btn-link action"><i class="glyphicon glyphicon-remove-sign"></i> Delete</button>
            </div>
          </td>
      </tr>
      </tbody>
    </table>
    <div ng-include="'/static/partials/wizard-modal.html'"></div>
