    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'"></div>

    <div class="details">
      <div class="details-control pull-right">
        <label ng-show="services.deployed.show" ng-class="'alert alert-success'">
          <button type="button" class="close" ng-click="services.deployed.show=false">x</button>
          {{services.deployed.name}}: {{services.deployed.deployment}} - <a href="{{services.deployed.url}}">{{services.deployed.url}}</a>
        </label>
        <span class="add-control">
          <button class="btn-link" ng-click="modalAddApp()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            {{'modal_add_app'|translate}}
          </button>
        </span>
      </div>

      <ol class="breadcrumb inline bordered">
        <li ng-repeat="crumb in breadcrumbs" ng-switch on="crumb.url" ng-class="crumb.itemClass">
          <span ng-switch-when="undefined">{{crumb.label|translate}}</span>
          <a ng-switch-default ng-href="{{crumb.url}}">{{crumb.label|translate}}</a>
        </li>
      </ol>

      <div class="navbar-secondary">
        <ul class="nav navbar-nav">
          <li ng-repeat="navlink in secondarynav">
            <button class="btn-link" ng-click="click_secondary(navlink)">{{navlink.label|translate}}</button>
          </li>
        </ul>
      </div>
    </div>

    <table class="table table-striped table-bordered table-hover" id="apps_data" >
      <thead>
        <tr>
          <th ng-repeat="header in services.headers">{{header.name|translate}}
            <button ng-click="services.set_order(header.id, services)" 
                    ng-class="services.get_order_class(header.id, services)"></button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="app in services.data | orderBy:services.sort" class="link">
          <td ng-click="click_app(app.Id)">{{app.Name}}</td>
          <td ng-class="app.deploymentClass">
            <span ng-class="app.deploymentIcon"></span>
            {{app.Deployment}}
          </td>
          <td>{{app.PoolId}}</td>
          <td>
            <div class="toggle btn-group" data-toggle="buttons">
              <label ng-class="app.runningClass" ng-click="clickRunning(app, 'start', servicesService)">
                <input type="radio" name="running{{$index}}"
                       ng-model="app.Running" value="1">
                {{app.runningText|translate}}
              </label>
              
              <label ng-class="app.notRunningClass" ng-click="clickRunning(app, 'stop', servicesService)">
                <input type="radio" name="running{{$index}}"
                       ng-model="app.Running" value="stopped">
                {{app.notRunningText|translate}}
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div ng-include="'/static/partials/wizard-modal.html'"></div>
    <div ng-include="'/static/partials/add-service.html'"></div>
