  <p>{{'content_wizard_select_apps'|translate}}</p>
  <div ng-class="install.templateSelectedFormDiv()">

    <label class="control-label">{{'label_wizard_select_app'|translate}}</label>
    <table class="table table-striped">
        <tr>
            <th>&nbsp;</th>
            <th>{{"label_app_name"|translate}}</th>
            <th>{{"label_app_ram_commitment"|translate}}</th>
            <th>{{"label_app_cpu_commitment"|translate}}</th>
        </tr>
        <tr ng-repeat="template in install.templateData | orderBy: 'Name'" ng-class="install.templateClass(template)">
            <td><input type="checkbox"
                   ng-model="install.selected[template.Id]"
                   ng-disabled="install.templateDisabled(template)"
                   ng-change="install.templateSelected(template)"></td>
            <td>{{template.Name}}</td>
            <td>{{getTemplateRequiredResources(template).RAMCommitment | toGB}}</td>
            <td>{{getTemplateRequiredResources(template).CPUCommitment}}</td>
        </tr>
    </table>
  </div>

