  <p>{{'content_wizard_select_apps'|translate}}</p>
  <div ng-class="install.templateSelectedFormDiv()">

    <label class="control-label">{{'label_wizard_select_app'|translate}}</label>
    <div ng-repeat="template in install.templateData" 
         ng-class="install.templateClass(template)">
      <label>
        <input type="checkbox"
               ng-model="install.selected[template.Id]" 
               ng-disabled="install.templateDisabled(template)"
               ng-change="install.templateSelected(template)">
        {{template.Name}}
      </label>
    </div>
  </div>

