        <form class="form-horizontal" role="form" name="wizard">
          <div ng-class="{true:'form-group', false:'form-group has-error'}[wizard.admin_account.$valid || !nextClicked]">
            <label for="admin_account" class="col-lg-2 control-label">Admin Account</label>
            <div class="col-lg-10">
              <input class="form-control" type="text" name="admin_account" 
                     id="admin_account" ng-model="context.username" 
                     placeholder="Enter username" required/>
              </span>
            </div>
          </div>
          <div ng-class="{true:'form-group', false:'form-group has-error'}[wizard.admin_password.$valid || !nextClicked]">
            <label for="admin_password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input class="form-control" type="password" name="admin_password"
                     id="admin_password" ng-model="context.password" 
                     placeholder="Enter password" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="use_ssl" name="use_ssl" ng-model="context.ssl">SSL</input>
                </label>
              </div>
            </div>
          </div>
          <div class="page-nav" role="navigation">
            <button class="btn btn-lg btn-primary" ng-click="next(wizard)">Next</button>
            <button class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
          </div> <!-- /page-nav -->
        </form>

