<p>
  <span ng-repeat="template in selectedTemplates()">
      <span ng-hide="$last">, </span>
      <span ng-show="$last && !$first">{{'content_wizard_configured_and'|translate}} </span>
      {{template.Name}}
      <span ng-show="$last && !$first"> {{'content_wizard_possession_multi'|translate}}</span>
      <span ng-show="$last && $first"> {{'content_wizard_possession_single'|translate}}</span>
  </span>
  {{'content_wizard_configured_is_config'|translate}} '{{install.selected.pool}}'.
</p>

<div>
    <label for="deploymentId" class="control-label">{{'deployed_tbl_deployment_id'|translate}}</label>

    <input class="form-control" type="text" ng-model="install.deploymentId" name="deploymentId"
           id="deploymentId" placeholder="{{'placeholder_deployment_id' | translate}}" />

    <div id="deployWizardNotifications" class="error hide">
        <span class="dialogIcon glyphicon glyphicon-remove-sign"></span>
        <span id="deployWizardNotificationsContent"></span>
    </div>

    <!-- this section is for reporting the status of deployment -->
    <div id="deployStatus" style="display: none;">
        <span class="dialogIcon glyphicon glyphicon-info-sign"></span>
        <span id="deployStatusText"></span>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%;"></div>
        </div>
    </div>
</div>