      <div class="box">
        <h2>Zenoss Installation Wizard</h2>
        <form role="form" class="form-horizontal" name="wizard">
          <div ng-class="{true:'form-group', false:'form-group has-error'}[wizard.local_install.$valid || !nextClicked]">
            <label for="local_install" class="col-lg-2 control-label">Local Install</label>
            <div class="col-lg-10">
              <select class="form-control" id="local_install" name="local_install" ng-model="context.localInstallType" required>
                <option ng-repeat="option in context.installOptions">{{option}}</option>
            </select>
            </div> <!-- /col-lg-10 -->
          </div> <!-- /form-group -->
          <div class="page-nav" role="navigation">
            <button class="btn btn-lg btn-primary" ng-click="next(wizard)">Install</button>
            <button class="btn btn-lg btn-default" ng-click="cancel()">Cancel</button>
          </div> <!-- /page-nav -->
        </form><!-- /wizard -->
      </div> <!-- /box -->
