<div class="form-group">
  <label for="new_service_name">
      <span translate>label_service_name</span>:
  </label>
  <input class="form-control" focusme id="new_service_name" type="text" placeholder="{{'placeholder_service_name'|translate}}" ng-model="editableService.Name">
</div>

<div class="form-group">
    <label for="new_service_description">
        <span translate>label_service_description</span>:
    </label>
    <textarea class="form-control" id="new_service_description" placeholder="{{'placeholder_service_description'|translate}}" rows="3" ng-model="editableService.Description"></textarea>
</div>

<div class="form-group">
    <label for="edit_instances">
        <span translate>label_service_instances</span>:
    </label>
    <input class="form-control" id="edit_instances" type="number" min="{{editableService.InstanceLimits.Min ? editableService.InstanceLimits.Min : 0}}" max="{{editableService.InstanceLimits.Max ? editableService.InstanceLimits.Max : undefined}}" style="width: 75px;" ng-model="editableService.Instances">
</div>

<div class="form-group">
  <label for="new_service_ram_commitment">
      <span translate>ram_commitment</span> (eg 256M): <span class="warningMessage">*</span>
  </label>
  <input class="form-control" id="new_service_ram_commitment" type="text" placeholder="256M" ng-model="editableService.RAMCommitment">
</div>

<div class="form-group">
    <label for="edit_service_pool">
        <span translate>label_service_pool</span>: <span class="warningMessage">*</span>
    </label>
    <select class="form-control" name="edit_service_pool" id="new_host_parent" ng-model="editableService.PoolID"
        ng-options="pool.id as pool.id for pool in pools">
    </select>
</div>

<div class="form-group">
  <label for="new_service_startup">
      <span translate>label_service_startup</span>: <span class="warningMessage">*</span>
  </label>
  <input class="form-control" id="new_service_startup" type="text" placeholder="{{'placeholder_service_startup'|translate}}" ng-model="editableService.Startup">
</div>

<br>
<div class="warningMessage"><span translate>requires_restart_running_instance</span></div>
