    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

    <h3 class="pull-left" translate>applications</h3>
    <div class="control-buttons pull-right">
        <span class="add-control">
            <a href="/#/servicesmap" class="btn-link">
                <span class="glyphicon glyphicon-eye-open"></span>
                <span translate>nav_servicesmap</span>
            </a>
        </span>
        <span class="add-control">
            <button class="btn-link" ng-click="modal_deployWizard()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span translate>application</span>
            </button>
        </span>
    </div>

    <table jelly-table data-data="apps" data-config="servicesTable" class="table">
        <tr ng-repeat="service in $data" data-id="{{service.id}}">
          <td data-title="'deployed_tbl_name'|translate" sortable="'name'">
              <span ng-if="!service.deploying" ng-click="routeToService(service.id)" class="link">{{service.name}}<span class="version" ng-show="service.model.Version"> (v{{service.model.Version}})</span></span>
              <span ng-if="service.deploying">{{service.name}}<span class="version" ng-show="service.model.Version"> (v{{service.model.Version}})</span></span>
          </td>
          <td data-title="'deployed_tbl_description'|translate">{{service.model.Description}}</td>
          <td data-title="'health_check'|translate" sortable="'status.status'" style="text-align:center;">
              <span ng-if="!service.deploying">
                  <health-icon data-status="service.status"></health-icon>
              </span>
              <span ng-if="service.deploying" class="ntsh"></span>
          </td>
          <td data-title="'deployed_tbl_deployment_id'|translate" sortable="'model.DeploymentID'">{{service.model.DeploymentID}}</td>

          <td data-title="'deployed_tbl_pool'|translate" sortable="model.PoolID">
            <span ng-if="!service.isIsvc()" ng-click="routeToPool(service.model.PoolID)" class="link">{{service.model.PoolID | cut:true:30}}</span>
            <span ng-if="service.isIsvc()" class="ntsh">N/A</span>
          </td>

          <td data-title="'label_public_endpoints'|translate">
              <span ng-if="!service.deploying && !service.isIsvc()">
                  <span ng-repeat="vhost in aggregateVHosts(service) track by $index">
                      <health-status ng-if="service.desiredState !== 1 || !vhost.Enabled">{{publicEndpointURL(vhost)}}</health-status>
                      <a ng-if="service.desiredState === 1 && vhost.Enabled" href="{{publicEndpointURL(vhost)}}" target="_blank" class="link">{{publicEndpointURL(vhost)}}</a>
                  </span>
              </span>
              <span ng-if="service.isIsvc()" class="ntsh">N/A</span>
              <span ng-if="service.deploying" class="ntsh">N/A</span>
          </td>

          <td data-title="'actions'|translate">
              <span ng-if="!service.deploying && !service.isIsvc()">
                <div>
                  <button ng-class="{disabled: service.desiredState === 1}" ng-click="clickRunning(service, 'start')" class="btn btn-link action"><i class="glyphicon glyphicon-play"></i> <span translate>start</span></button>
                  <button ng-class="{disabled: service.desiredState === 0}" ng-click="clickRunning(service, 'stop')" class="btn btn-link action"><i class="glyphicon glyphicon-stop"></i> <span translate>stop</span></button>
                  <button ng-click="modal_removeService(service)" class="btn btn-link action"><i class="glyphicon glyphicon-remove-sign"></i> <span translate>delete</span></button>
                </div>
              </span>
              <span ng-if="service.isIsvc()" class="ntsh">N/A</span>
              <span ng-if="service.deploying" class="ntsh" translate>deploying</span>
          </td>
        </tr>
    </table>

    <h3 class="pull-left" translate>templates</h3>
    <div class="control-buttons pull-right">
        <span class="add-control">
            <button class="btn-link" ng-click="modal_addTemplate()">
                <span class="glyphicon glyphicon-plus-sign"></span>
                <span translate>template</span>
            </button>
        </span>
    </div>

    <!-- TEMPLATES -->
    <table jelly-table data-data="templates.data" data-config="templatesTable" class="table">
        <tr ng-repeat="template in $data">
            <td data-title="'template_name'|translate" sortable="'Name'">
                {{template.Name}}
                <span class="version" ng-show="template.Version"> (v{{template.Version}})</span>
            </td>
            <td data-title="'template_id'|translate" sortable="'ID'">
                {{template.ID}}
            </td>
            <td data-title="'template_description'|translate" sortable="'Description'">
                {{template.Description}}
            </td>
            <td>
                <button ng-click="modal_deleteTemplate(template.ID)" class="btn btn-link action">
                    <i class="glyphicon glyphicon-remove-sign"></i> <span translate>delete</span></button>
            </td>
        </tr>
    </table>

    <div ng-include="'/static/partials/wizard-modal.html'"></div>
