    <div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

    <!-- Service Details -->
    <div class="serviceDetails">
        <div class="serviceControls" sticky sticky-class="stickied">

            <h2 class="serviceTitle">
                <health-icon ng-if="services.current.model.Startup" data-status="services.current.status" style="display: inline-block; font-size: 0.6em;"></health-icon>
                {{services.current.model.Name}}
                <span class="version" ng-show="services.current.model.Version"> (v{{services.current.model.Version}})</span>
            </h2>

            <div class="serviceActions" ng-hide="services.current.isIsvc()">
                <button ng-click="editCurrentService()" class="btn btn-link action"><i class="glyphicon glyphicon-edit"></i> <span translate>title_edit_service</span></button>
                <button ng-click="clickEditContext()" class="btn btn-link action">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span translate>edit_context</span>
                </button>

                <div style="display: inline-block; padding-left: 10px; border-left: 1px solid #CCC; height: 1em; "></div>
                <div ng-if="services.current.desiredState !== 2" style="display: inline-block;">
                    <button ng-click="clickRunning(services.current, 'start')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-play"></i>
                        <span translate>start</span>
                    </button>
                    <button ng-click="clickRunning(services.current, 'stop')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-stop"></i>
                        <span translate>stop</span>
                    </button>
                    <button ng-class="{disabled: services.current.desiredState === 0}" ng-click="clickRunning(services.current, 'restart')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <span translate>action_restart</span>
                    </button>
                </div>

                <div ng-if="services.current.desiredState === 2" style="display: inline-block;">
                    <span class="btn btn-link action disabled"><i class="glyphicon glyphicon-pause"></i> Paused</span>
                </div>
            </div>
            <div class="serviceBoxGradient"></div>
        </div>


        <div class="serviceDescription">
            {{services.current.model.Description}}
        </div>
    </div>

    <!-- Public Endpoints -->
    <div ng-show="!services.current.isIsvc() && anyServicesExported(services.current.model)">
      <h3 class="pull-left" translate>label_public_endpoints</h3>
      <div class="control-buttons pull-right">
          <span class="add-control">
              <button class="btn-link" ng-click="modalAddPublicEndpoint()">
                  <span class="glyphicon glyphicon-plus-sign"></span>
                  <span translate>add_public_endpoint</span>
              </button>
          </span>
      </div>

      <table jelly-table data-data="publicEndpoints.data" data-config="publicEndpointsTable" class="table">
          <tr ng-repeat="publicEndpoint in $data">
              <td data-title="'vhost_application'|translate" sortable="'Application'">
                  <a href="#/services/{{publicEndpoint.ApplicationId}}" class="link" ng-click="routeToService(publicEndpoint.ApplicationId, $event)">{{publicEndpoint.Application}}</a>
              </td>
              <td data-title="'endpoint'|translate" sortable="'ServiceEndpoint'">{{publicEndpoint.ServiceEndpoint}}</td>
              <td data-title="'public_endpoint_type'|translate" sortable="'type'">{{publicEndpoint.type}}</td>
              <td data-title="'public_endpoint_url'|translate" sortable="'publicEndpointURL(publicEndpoint)'">
                  <health-status ng-if="!isServiceRunning(publicEndpoint.ApplicationId) || !publicEndpoint.Enabled">{{publicEndpointURL(publicEndpoint)}}</health-status>
                  <a ng-if="isServiceRunning(publicEndpoint.ApplicationId) && publicEndpoint.Enabled" href="{{publicEndpointURL(publicEndpoint)}}" target="_blank" class="link">{{publicEndpointURL(publicEndpoint)}}</a>
              </td>
              <td data-title="'actions'|translate">
                  <button ng-class="{disabled: publicEndpoint.Enabled }" ng-click="clickEndpointEnable(publicEndpoint)" class="btn btn-link action">
                      <i class="glyphicon glyphicon-play"></i>
                      <span translate>start</span>
                  </button>
                  <button ng-class="{disabled: !publicEndpoint.Enabled }" ng-click="clickEndpointDisable(publicEndpoint)" class="btn btn-link action">
                      <i class="glyphicon glyphicon-stop"></i>
                      <span translate>stop</span>
                  </button>
                  <button ng-click="clickRemovePublicEndpoint(publicEndpoint)" class="btn btn-link action">
                      <i class="glyphicon glyphicon-remove-sign"></i>
                      <span translate>label_delete</span>
                  </button>
              </td>
          </tr>
      </table>
    </div>

    <!-- IP Assignments -->
    <div ng-show="!services.current.isIsvc()">
        <h3 class="pull-left" translate>label_ip_assignments</h3>
        <table jelly-table data-data="ips.data" data-config="ipsTable" class="table">
            <tr ng-repeat="ip in $data">
                <td data-title="'tbl_virtual_ip_service'|translate" sortable="'ServiceName'">
                    <a href="#/services/{{ip.ServiceID}}" class="link" ng-click="routeToService(ip.ServiceID, $event)">{{ip.ServiceName}}</a>
                </td>
                <td data-title="'tbl_virtual_ip_assignment_type'|translate" sortable="'AssignmentType'">{{ip.AssignmentType}}</td>
                <td data-title="'tbl_virtual_ip_host'|translate" sortable="'HostID'" ng-click="click_host(ip.HostID)" class="link">{{getHostName(ip.HostID)}}</td>
                <td data-title="'tbl_virtual_ip_pool'|translate" sortable="'PoolID'" ng-click="click_pool(ip.PoolID)" class="link">{{ip.PoolID|cut:true:50}}</td>
                <td data-title="'tbl_virtual_ip'|translate">{{ip.IPAddr}}:{{ip.Port}}</td>
                <td data-title="'actions'|translate">
                    <button ng-click="modalAssignIP(ip, ip.PoolID)" class="btn btn-link action">
                        <i class="glyphicon glyphicon-link"></i>
                        <span translate>label_assign</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- Config Files -->
    <div ng-show="!services.current.isIsvc()">
        <h3 class="pull-left" translate>title_config_files</h3>
        <table jelly-table data-data="services.current.model.ConfigFiles" data-config="configTable" class="table">
            <tr ng-repeat="configFile in services.current.model.ConfigFiles">
                <td data-title="'path'|translate" sortable="'Filename'">{{ configFile.Filename }}</td>
                <td data-title="'running_tbl_actions'|translate">
                    <button ng-click="editConfig(configFile.Filename)" class="btn btn-link action">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span translate>label_edit</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- SERVICES -->
    <div ng-show="services.subservices.length">
        <h3 translate>title_services</h3>
        <table jelly-table data-data="services.subservices" data-config="servicesTable" class="table">
            <thead>
                <tr>
                  <th style="width: 200px;" translate>label_service</th>
                  <th style="width: 75px; line-height: 11px;">Instances <span style="font-size: .75em;">healthy/total</span></th>
                  <th translate>deployed_tbl_description</th>
                  <th style="width: 210px;" ng-if="!services.current.isIsvc()" translate>running_tbl_actions</th>
                </tr>
            </thead>
            <tr ng-repeat="app in $data" data-id="{{app.model.ID}}" ng-hide="services.currentTreeState[app.id].hidden">
              <td data-title="'label_service'|translate" style="overflow: hidden; white-space: nowrap;">
                <span ng-style="calculateIndent(app)"></span>
                <span ng-if="app.children.length" ng-click="toggleChildren(app)" class="table-collapse glyphicon" ng-class="services.currentTreeState[app.id].collapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                <span ng-if="!app.children.length" ng-style="indent(1)"></span>
                <a href="#/services/{{app.model.ID}}" ng-click="routeToService(app.model.ID, $event)" class="link">
                    {{app.model.Name}}
                    <div class="overcomIndicator" ng-class="{'bad': !app.resourcesGood() && !app.isIsvc()}" title="An instance is oversubscribed."></div>
                    <span class="version" ng-show="app.model.Version"> (v{{app.model.Version}})</span>
                </a>
              </td>
              <td data-title="'Instances'" style="text-align:center;">
                <div ng-if="!app.children.length">
                    <health-icon data-status="app.status"></health-icon>
                </div>
              </td>
              <td data-title="'deployed_tbl_description'|translate">
                <input style="border:none; background:rgba(0,0,0,0); width:100%; outline: none;" readonly type="text" value="{{app.model.Description}}">
              </td>
              <td data-title="'running_tbl_actions'|translate" ng-if="!services.current.isIsvc()">
                <div ng-if="!app.isIsvc()">
                  <div ng-if="app.desiredState !== 2">
                    <button ng-class="{disabled: app.desiredState === 1}" ng-click="clickRunning(app, 'start')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-play"></i>
                        <span translate>start</span>
                    </button>
                    <button ng-class="{disabled: app.desiredState === 0}" ng-click="clickRunning(app, 'stop')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-stop"></i>
                        <span translate>stop</span>
                    </button>
                    <button ng-class="{disabled: app.desiredState === 0}" ng-click="clickRunning(app, 'restart')" class="btn btn-link action">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <span translate>action_restart</span>
                    </button>
                  </div>
                  <div ng-if="app.desiredState === 2">
                    <span class="btn btn-link action disabled"><i class="glyphicon glyphicon-pause"></i> Paused</span>
                  </div>
                </div>
              </td>
            </tr>
        </table>
    </div>

    <!-- This table has running instances -->
    <div ng-show="hasCurrentInstances() && !services.current.isIsvc()">
        <h3 translate>running_tbl_instances</h3>
        <table jelly-table data-data="services.current.getServiceInstances()" data-config="instancesTable" class="table">
            <tr ng-repeat="app in $data" data-id="{{app.id}}.{{app.model.InstanceID}}">
                <td data-title="'running_tbl_instance_id'|translate" sortable="'model.InstanceID'">{{app.model.InstanceID}}</td>
                <td data-title="'label_service_name'|translate" sortable="'name'">{{app.name}}</td>
                <td data-title="'label_service_status'|translate" sortable="'status.status'" style="text-align:center;">
                    <health-icon data-status="app.status"></health-icon>
                </td>
                <td data-title="'RAM Commitment'" style="text-align:left;">
                    <span ng-show="app.resources.RAMCommitment===0">N/A</span>
                    <span ng-show="app.resources.RAMCommitment!==0" ng-class="{'bad': !app.resourcesGood()}" class="overcomText">{{app.resources.RAMCommitment|toMB}}</span>
                </td>
                <td data-title="'RAM Cur/Max/Avg'" style="text-align:left;">
                    <span ng-show="app.resources.RAMCommitment===0">N/A</span>
                    <span ng-show="app.resources.RAMCommitment!==0" ng-class="{'bad': !app.resourcesGood()}" class="overcomText">{{app.resources.RAMLast|toMB:true}} / {{app.resources.RAMMax|toMB:true}} / {{app.resources.RAMAverage|toMB:true}} MB</span>
                </td>
                <td data-title="'host'|translate" sortable="'getHostName(app.model.HostID)'" ng-click="click_host(app.model.HostID)" class="link">{{getHostName(app.model.HostID)}}</td>
                <td data-title="'running_tbl_docker_id'|translate" sortable="'model.DockerID'">{{app.model.DockerID|cut:false:12:"..."}}</td>
                <td data-title="'running_tbl_actions'|translate">
                    <button ng-click="viewLog(app)" class="btn btn-link action">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span translate>action_view_log</span>
                    </button>
                    <button ng-click="app.stop()" class="btn btn-link action">
                        <i class="glyphicon glyphicon-refresh"></i>
                        <span translate>action_restart</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <!-- SCHEDULED TASKS -->
    <div ng-show="!services.current.isIsvc()">
        <h3 translate>scheduled_tasks</h3>
        <table jelly-table data-data="services.current.model.Tasks" data-config="scheduledTasksTable" class="table">
            <tr ng-repeat="task in $data">
                <td data-title="'task_schedule'|translate" sortable="'Schedule'" style="font-family:monospace">{{ task.Schedule }}</td>
                <td data-title="'task_command'|translate" sortable="'Command'">{{ task.Command }}</td>
                <td data-title="'task_last_run'|translate" sortable="'LastRunAt'">{{ task.LastRunAt }}</td>
                <td data-title="'task_run_count'|translate" sortable="'TotalRunCount'">{{ task.TotalRunCount }}</td>
            </tr>
      </table>
  </div>

  <br>

  <!-- Graphs -->
  <graph-panel ng-if="services.current.model.MonitoringProfile.GraphConfigs.length > 0" data-service-id="services.current.model.ID" data-graph-configs="services.current.model.MonitoringProfile.GraphConfigs" class="infoWrapper graphPanel"></graph-panel>
