<div class="form-group">
    <label for="new_pool_name">
        <span translate>label_pool_name</span>:
    </label>
    <input class="form-control" name="new_pool_name" focusme id="new_pool_name" type="text" placeholder="{{'placeholder_pool_name'|translate}}" maxlength=100 ng-model="newPool.ID">
</div>

<div class="form-group">
    <label for="new_pool_description">
        <span translate>label_pool_description</span>:
    </label>
    <input class="form-control" name="new_pool_description" id="new_pool_description" type="text" placeholder="{{'placeholder_pool_description'|translate}}" ng-model="newPool.Description">
</div>

<!-- Disabled until enforced. See ZEN-11450
<label for="new_pool_core_limit">{{'label_pool_core_limit'|translate}}:</label>
<input class="form-control" name="new_pool_core_limit" id="new_pool_core_limit" type="number" min="0" placeholder="{{'placeholder_pool_core_limit'|translate}}" ng-model="newPool.CoreLimit" />
<label for="new_pool_memory_limit">{{'label_pool_memory_limit'|translate}}:</label>
<input class="form-control" name="new_pool_memory_limit" id="new_pool_memory_limit" type="number" min="0" placeholder="{{'placeholder_pool_memory_limit'|translate}}" ng-model="newPool.MemoryLimit" />
-->
