<div class="form-group">
  <label for="pool_id">
      <span translate>label_pool_name</span>:
  </label>
  <input readonly class="form-control" id="pool_id" type="text" ng-model="editablePool.ID">
</div>

<div class="form-group">
  <label for="edit_pool_timeout">
      <span translate>label_connection_timeout</span> (eg 200ms or 1m30s):
  </label>
  <input class="form-control" focusme id="edit_pool_timeout" type="text" ng-model="editablePool.ConnectionTimeout">
  <div class="help-block">
    <p><i translate>field_description_connection_timeout</i></p>
  </div>
</div>

<div class="form-group">
    <label for="edit_pool_description">
        <span translate>label_permissions</span>:
        <span class="warningMessage">*</span>
    </label><br>

    <!-- add checkbox for each available permission -->
    <div ng-repeat="permission in permissions">
        <input type="checkbox"
            name="new_pool_permission_{{permission.position}}"
            id="new_pool_permission_{{permission.position}}"
            ng-model="editablePool.permissions[permission.position]"
            ng-model-options="{getterSetter: true}"/>
        <label style="font-weight: normal;" for="new_pool_permission_{{permission.position}}" title="{{permission.description|translate}}">
            {{permission.label}}
        </label>
        <br>
    </div>
</div>

<div class="warningMessage"><span translate>permissions_delegate_restart</span></div>
