<div class="form-group">
  <label for="pool_id">
      <span translate>label_pool_name</span>:
  </label>
  <input readonly class="form-control" id="pool_id" type="text" ng-model="editablePool.ID">
</div>

<div class="form-group">
  <label for="edit_pool_timeout">
      <span translate>label_connection_timeout</span> (eg 200ms or 1m30s):
  </label>
  <input class="form-control" focusme id="edit_pool_timeout" type="text" ng-model="editablePool.ConnectionTimeout">
  <div class="help-block">
    <p><i translate>field_description_connection_timeout</i></p>
  </div>
</div>

<div class="form-group">
    <label for="edit_pool_description">
        <span translate>Permissions</span>:
    </label><br>

    <!-- add checkbox for each available permission -->
    <div ng-repeat="permission in permissions">
        <input type="checkbox" name="edit_pool_{{permission.field}}" id="edit_pool_{{permission.field}}" ng-model="editablePool[permission.field]"/>
        <label style="font-weight: normal;" for="edit_pool_{{permission.field}}" title="{{permission.description}}">{{permission.label}}</label><br>
    </div>

    <input type="checkbox" name="edit_pool_dfs_access" id="edit_pool_dfs_access" ng-model="editablePool.DFSAccess"/>
    <label style="font-weight: normal;" for="edit_pool_dfs_access" title="Allow hosts to read and write to the DFS">DFS</label><br>

    <input type="checkbox" name="edit_pool_admin_access" id="edit_pool_admin_access" ng-model="editablePool.AdminAccess"/>
    <label style="font-weight: normal;" for="edit_pool_admin_access" title="Allow hosts to start, stop and restart services">Admin</label><br>
</div>

