<div ng-show="loggedIn" ng-include="'/static/partials/top-nav.html'" class="navWrapper"></div>

<div class="details">

  <div class="details-form">
    <div class="vertical-info">
      <label for="pool_data_id" translate>label_pool_id</label>
      <div id="pool_data_id">{{currentPool.id | cut:true:50}}</div>
    </div>

    <div class="vertical-info">
      <label for="pool_data_core_limit" translate>core_capacity</label>
      <div id="pool_data_core_limit">{{currentPool.model.CoreCapacity}}</div>
    </div>

    <div class="vertical-info">
      <label for="pool_data_memory_limit" translate>memory_capacity</label>
      <div id="pool_data_memory_limit">{{currentPool.model.MemoryCapacity | toGB}}</div>
    </div>

    <div class="vertical-info">
      <label for="pool_data_created_at" translate>label_pool_created_at</label>
      <div id="pool_data_created_at">{{currentPool.model.CreatedAt | date : 'medium'}}</div>
    </div>

    <div class="vertical-info">
      <label for="pool_data_updated_at" translate>updated_at</label>
      <div id="pool_data_updated_at">{{currentPool.model.UpdatedAt | date : 'medium'}}</div>
    </div>
  </div>
</div>

<h3 class="pull-left" translate>label_virtual_ip_addresses</h3>
<div class="control-buttons pull-right">
  <span class="add-control">
    <button class="btn-link" ng-click="modalAddVirtualIp(currentPool)">
      <span class="glyphicon glyphicon-plus-sign"></span>
      <span translate>modal_add_virtual_ip</span>
    </button>
  </span>
</div>
<table class="table side-flush">
  <thead>
    <tr>
      <th ng-repeat="header in virtual_ip_addresses.headers" translate>{{header.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="currentPool.model.VirtualIPs !== undefined">
      <td colspan="100%" align="center"><img src="/static/img/loading.gif"></td>
    </tr>
    <tr ng-hide="currentPool.model.VirtualIPs.length !== 0">
        <td colspan="100%" align="center" class="noData" translate>no_data</td>
    </tr>
    <tr ng-repeat="address in currentPool.model.VirtualIPs | orderBy:virtual_ip_addresses.sort">
      <td>{{address.IP}}</td>
      <td>{{address.Netmask}}</td>
      <td>{{address.BindInterface}}</td>
      <td>
          <button ng-click="clickRemoveVirtualIp(address)" class="btn btn-link action">
              <i class="glyphicon glyphicon-remove-sign"></i>
              <span translate>label_delete</span>
          </button>
      </td>
    </tr>
  </tbody>
</table>

<h3 class="pull-left" translate>hosts</h3>
<table class="table side-flush" id="hosts_data">
  <thead>
    <tr>
      <th translate>label_host_id</th>
      <th translate>label_host_memory</th>
      <th translate>label_host_cores</th>
      <th translate>label_host_kernel_version</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-hide="hosts!== undefined">
      <td colspan="100%" align="center"><img src="/static/img/loading.gif"></td>
    </tr>
    <tr ng-hide="hosts.length !== 0">
        <td colspan="100%" align="center" class="noData" translate>no_data</td>
    </tr>
    <tr ng-repeat="host in hosts">
      <td ng-click="clickHost(host.id)" class="link">{{host.name}}</td>
      <td>{{host.model.Memory | toGB}}</td>
      <td>{{host.model.Cores}}</td>
      <td>{{host.model.KernelVersion}}</td>
    </tr>
  </tbody>
</table>
