[Unit]
Description=Zenoss ServiceD

[Service]
EnvironmentFile=/etc/default/serviced
ExecStart=/opt/serviced/bin/serviced -agent -master

[Install]
WantedBy=multi-user.target
